@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');


$main-color: #3494e4;
$dark-blue-color: #144fc6;
$light-blue-color: #6ab3f8;


body{
    background: $main-color;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 10px;
}